* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  background-image: linear-gradient(160deg, #000000 0%, #3b404e 127%);
  color: #F4F6F1;
	font-size: 16px;
	font-family: sans-serif;
  margin: 0;
}
.ui-sortable {
  min-height: 80px;
  padding: 0;
}

button:active {
  transform: translateY(2px);
}
button.create-column {
  background: transparent;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  border: 2px solid #7809ee;
  color: #F4F6F1;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  margin: 20px auto;
  outline: none;
  padding: 10px 20px;
}
button.change-name {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  background: transparent;
  border: 2px solid #7809ee;
  color: #F4F6F1;
  cursor: pointer;
  font-size: 16px;
  margin: 12px 18px;
  order: 3;
  outline: none;
  padding: 6px 18px;

}
button.add-card {
  background: transparent;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  border: 2px solid #7809ee;
  color: #F4F6F1;
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 12px 18px;
  order: 2;
  outline: none;
  padding: 6px 18px;

}
.btn-delete {
  background: transparent;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #F4F6F1;
  border-radius: 2px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  color: #F4F6F1;
  cursor: pointer;
  height: 22px;
  margin: 14px 28px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
}
/* BOARD */
.board {
  min-height: 100vh;
}
.board h1 {
  color: #F4F6F1;
  font-weight: bold;
  font-size: 4em;
  padding: 20px;
  margin: 40px;
  text-align: center;
}
h1 span {
	background: #7809ee;
	padding: 2px 10px;
}
.column-container {
  display: flex;
  flex-wrap: wrap;
	overflow: auto;
}


/* COLUMN */
.column {
  border-radius: 2px;
  border: 3px solid #7809ee;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  list-style: none;
  margin: 20px auto;
  position: relative;
  min-height: 400px;
  min-width: 400px;
  order: 1;
}
.column-add-card {
  cursor: pointer;
  display: block;
  margin: 5px 8px;
  text-decoration: underline;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 14px 18px;
}
.card-placeholder {
  background: transparent;
  box-sizing: border-box;
  border: 2px dashed #F4F6F1;
  display: block;
  height: 60px;
  margin: 20px;
}
h2.column-title {
  font-weight: bold;
  font-size: 24px;
  margin: 22px 40px;
  text-transform: uppercase;
}
li.card {
  border: 2px solid #F4F6F1;
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  left: 0;
  margin: 20px;
  position: relative;
  width: 360px;
}
