* {
	box-sizing: border-box;
}
body {
	background-color: #000000;
  background-image: linear-gradient(160deg, #000000 0%, #3b404e 127%);
  color: #fff;
	font-size: 16px;
	font-family: sans-serif;
  overflow: auto;
}
.board {
	min-height: 100vh;
	margin: 20px 0;
}
.board h1 {
  font-weight: bold;
	text-align: center;
	color: #FFF;
	font-size: 4em;
	padding: 20px;
  margin: 40px;
}
.column-container {
  display: flex;
	justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
button.create-column {
  display: flex;
  margin: 20px auto;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.column {
  display: flex;
  align-items: flex-start;
  border: 2px solid #fff;
  min-height: 400px;
  min-width: 400px;
  margin: 20px auto;
}

h2.column-title {
  font-weight: bold;
  font-size: 24px;
  margin: 14px 16px;
  order: 1;
  justify-content: flex-start;
}
button.add-card {
  font-size: 16px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  margin: 14px auto;
  padding: 4px 18px;
  order: 2;
  cursor: pointer;
}
button.btn-delete {
  margin: 14px 28px;
  order: 3;
  border: 2px solid white;
  border-radius: 2px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}
ul.column-card-list.ui-sortable {
  height: 0;
  width: 0;
}
li.card {
  display: flex;
  position: relative;
  top: 80px;
  left: 0;
  margin: 20px;
  width: 360px;
  border: 1px solid #fff;
}
p.card-description {
  margin: 20px;
  overflow: auto;
  height: auto;
}
button.btn-delete-2 {
  cursor: pointer;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
  background: transparent;
  color: #fff;
  top: 8px;
  right: 12px;
}
